{% extends "base.html.twig" %}

{% block title %}
    Nouvel article
{% endblock %}

{% block body %}

    <h1>Créer un nouvel article</h1>

    {{ form(form) }}

{#    {{ form_start(form) }}#}

{#    {{ form_row(form.title) }}#}
{#    {{ form_row(form.content) }}#}
{#    {{ form_row(form.submit) }}#}

{#    {{ form_end(form) }}#}

{% endblock %}

