{% extends "base.html.twig" %}

{% block title %}Titre de l'article ...{% endblock %}

{% block body %}

    <div class="mb-4">
        <a href="{{ path('blog') }}" class="small text-dark text-decoration-none">&#8592; Retour</a>
    </div>

    <img src="{{ asset(article.imagePath) }}" alt="" class="w-25">

    <div class="mt-3">
        <h1>{{ article.title }}</h1>
        <div class="lead">Publié le {{ article.createdAt|date('d/m/Y') }} par {{ article.user.fullname }}</div>
        <div class="hashtags">
            {% for category in article.categories %}
                <a href="{{ path('blog', {cat: category.slug}) }}" class="badge bg-primary">{{ category.name }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="my-4">
        {{ article.content|nl2br }}
    </div>

    <hr>
    <h2>Commentaires ({{ article.comments.count }})</h2>

    {% for comment in article.comments %}
        <div class="my-3">
            <b>Publié le {{ comment.createdAt|date('d/m/Y') }} par John Doe</b>
            <div>{{ comment.message|nl2br }}</div>
        </div>
        <hr>
    {% endfor %}

    <div class="lead">Laissez votre commentaire</div>
    {{ form(form) }}

{% endblock %}
