{% extends "base.html.twig" %}

{% block title %}Titre de l'article ...{% endblock %}

{% block body %}

    <div class="mb-4">
        <a href="{{ path('blog') }}" class="small text-dark text-decoration-none">&#8592; Retour</a>
    </div>

    <img src="{{ asset(article.imagePath) }}" alt="" class="w-100">

    <div class="mt-3">
        <h1>{{ article.title }}</h1>
        <div class="lead">Publié le {{ article.createdAt|date('d/m/Y') }} par John Doe</div>
    </div>

    <div class="my-4">
        {{ article.content|nl2br }}
    </div>

{% endblock %}
