{% extends 'base.html.twig' %}

{% block title %}Mon blog{% endblock %}

{% block body %}

    {% if app.request.query.get('cat') %}
        <div class="float-end">
            <a href="{{ path('blog') }}" class="btn btn-outline-danger">X Annuler</a>
        </div>
    {% endif %}

    <h1>{{ 'blog.title'|trans }}</h1>
    <div class="lead">{{ 'blog.lead'|trans }}</div>

    <div class="row mt-5">
        {% for article in articles %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card">
                    <a href="{{ path('blog_article', {id: article.id}) }}">
                        <div class="img-ratio" style="--ratio: 60%;">
                            <div class="img">
                                <img src="{{ asset(article.imagePath) }}" class="card-img-top w-100" alt="...">
                            </div>
                        </div>
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <p class="card-text">{{ article.contentEllipsis }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>

{% endblock %}
